In [1]:
import numpy as np
import matplotlib.pyplot as plt 
from numpy.random import default_rng
rng = default_rng()

import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression, RidgeCV, Ridge
from sklearn.metrics import mean_squared_error

In [3]:
N = 100
mu = rng.standard_normal(N)
z = mu + rng.standard_normal(N)

data = pd.DataFrame({'z':z, 'mu': mu})
df = pd.get_dummies(data, columns=['z'])
df.rename(columns={f'{t}':f'z{i}' for i, t in enumerate(df.columns.values[1:])}, inplace=True)
df['z'] = z

features = df.columns.values[1:-1]
X, y = df[features].values, df['z'].values

reg = LinearRegression(fit_intercept=False)
reg.fit(X, y)
mean_squared_error(reg.predict(X), mu)

0.8017218104428525

In [4]:
js = Ridge(alpha=1, fit_intercept=False)
js.fit(X, y)
mean_squared_error(js.predict(X), mu)

0.658068518740576

In [5]:
data

           z        mu
0   0.296388  0.836757
1  -1.979832 -1.893856
2   0.947367  1.524669
3  -1.328160 -0.419662
4  -0.530229 -0.886611
..       ...       ...
95  1.520074  1.421783
96 -1.053355 -0.580185
97 -2.075873 -0.388008
98  0.078809 -0.998563
99 -3.103122 -2.402923

[100 rows x 2 columns]