In [1]:
import pandas as pd

In [2]:
cuisines_df = pd.read_csv('../01/cleaned_cuisines.csv')
cuisines_df.head()

,Unnamed: 0,cuisine,almond,anise,anise_seed,apple,apricot,artemisia,asparagus,avocado,...,wheat,wheat_bread,white_bread,white_wine,whole_grain_wheat_flour,wine,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
cuisines_label_df = cuisines_df['cuisine']

In [4]:
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)

In [6]:
cuisines_feature_df.head()

,almond,anise,anise_seed,apple,apricot,artemisia,asparagus,avocado,bacon,banana,...,wheat,wheat_bread,white_bread,white_wine,whole_grain_wheat_flour,wine,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
X, y = cuisines_feature_df.values, cuisines_label_df.values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(multi_class='ovr', solver='liblinear')
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7889908256880734

In [13]:
model = LogisticRegression(multi_class='ovr', solver='lbfgs')
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7873227689741451

In [20]:
model.predict([X_test[50]])

array(['japanese'], dtype=object)

In [21]:
model.predict_proba([X_test[50]])

array([[0.25101154, 0.00237978, 0.6508225 , 0.02552519, 0.070261  ]])

In [22]:
model.classes_

array(['chinese', 'indian', 'japanese', 'korean', 'thai'], dtype=object)

In [24]:
pd.DataFrame(data=model.predict_proba([X_test[50]]), columns=model.classes_).T

                 0
chinese   0.251012
indian    0.002380
japanese  0.650822
korean    0.025525
thai      0.070261

In [25]:
from sklearn.metrics import classification_report
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     chinese       0.71      0.65      0.68       224
      indian       0.92      0.88      0.90       238
    japanese       0.74      0.76      0.75       260
      korean       0.82      0.77      0.80       251
        thai       0.76      0.88      0.81       226

    accuracy                           0.79      1199
   macro avg       0.79      0.79      0.79      1199
weighted avg       0.79      0.79      0.79      1199

In [26]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report, precision_recall_curve

### SVC

In [34]:
C = 10
classifiers = {
    'Linear SVC': SVC(kernel='linear', C=C, probability=True, random_state=0),
    'KNN classifier': KNeighborsClassifier(C),
    'SVC': SVC(),
    'RFST': RandomForestClassifier(n_estimators=100),
    'ADA': AdaBoostClassifier(n_estimators=100)
}

In [35]:
for index, (name, classifier) in enumerate(classifiers.items()):
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     chinese       0.70      0.67      0.68       224
      indian       0.90      0.85      0.87       238
    japanese       0.73      0.76      0.75       260
      korean       0.82      0.75      0.78       251
        thai       0.74      0.85      0.79       226

    accuracy                           0.77      1199
   macro avg       0.78      0.77      0.77      1199
weighted avg       0.78      0.77      0.77      1199

              precision    recall  f1-score   support

     chinese       0.59      0.72      0.65       224
      indian       0.87      0.75      0.81       238
    japanese       0.65      0.85      0.74       260
      korean       0.95      0.57      0.71       251
        thai       0.67      0.67      0.67       226

    accuracy                           0.71      1199
   macro avg       0.75      0.71      0.72      1199
weighted avg       0.75      0.71      0.72      1199

              precision    recall  f1-score   support

     chinese       0.71      0.67      0.69       224
      indian       0.88      0.87      0.88       238
    japanese       0.81      0.81      0.81       260
      korean       0.91      0.78      0.84       251
        thai       0.74      0.90      0.81       226

    accuracy                           0.81      1199
   macro avg       0.81      0.81      0.80      1199
weighted avg       0.81      0.81      0.81      1199

              precision    recall  f1-score   support

     chinese       0.72      0.74      0.73       224
      indian       0.92      0.87      0.89       238
    japanese       0.83      0.82      0.82       260
      korean       0.88      0.79      0.83       251
        thai       0.79      0.91      0.84       226

    accuracy                           0.82      1199
   macro avg       0.83      0.83      0.82      1199
weighted avg       0.83      0.82      0.83      1199

              precision    recall  f1-score   support

     chinese       0.62      0.43      0.51       224
      indian       0.88      0.79      0.83       238
    japanese       0.66      0.60      0.63       260
      korean       0.64      0.80      0.71       251
        thai       0.66      0.81      0.73       226

    accuracy                           0.69      1199
   macro avg       0.69      0.68      0.68      1199
weighted avg       0.69      0.69      0.68      1199